/* ABOUT ME - BEGIN */
.col-9 h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #888a91;
    margin-top: 2px;
}

main.col-9 h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #7f7f7f;
}

aside {
    background-color: #e9e8e8;
    color: rgb(51, 51, 51);
    padding: 20px;
    height: 100%;
}

aside img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
